# Base de datos
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=pjecz_casiopea
DB_USER=adminpjeczcasiopea
DB_PASS=XXXXXXXXXXXX
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://adminpjeczcasiopea:XXXXXXXXXXXX@127.0.0.1:5432/pjecz_casiopea"

# Origins
ORIGINS=XXXXXXXXXXXXX

# Cryptography
FERNET_KEY=XXXXXXXXXXXX
SALT=XXXXXXXXXXXX

# Huso Horario
TZ=America/Mexico_City

# Control de Acceso API Key para obtener el código de acceso
CONTROL_ACCESO_URL=XXXXXXXXXXXX
CONTROL_ACCESO_API_KEY=XXXXXXXXXXXX
CONTROL_ACCESO_APLICACION=2
CONTROL_ACCESO_TIMEOUT=60

# Sendgrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

# Google Cloud Storage
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET_NAME=

# Definir si es para desarrollo (development) o producción (production)
ENVIRONMENT=development

# Si es para producción, definir el prefijo de la aplicación comenzando con /
PREFIX=
